{{>layout/header}}
<div id="view_body">

    <div class="card mb-3">
        <div class="card-header"><h4>{{forum.author}}</h4>
            <span role="img" aria-label="eye" class="anticon anticon-eye">
            <svg viewBox="64 64 896 896" focusable="false" data-icon="eye" width="1em" height="1em" fill="currentColor" aria-hidden="true">
               <path d="M942.2 486.2C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 000 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3 7.7-16.2 7.7-35 0-51.5zM512 766c-161.3 0-279.4-81.8-362.7-254C232.6 339.8 350.7 258 512 258c161.3 0 279.4 81.8 362.7 254C791.5 684.2 673.4 766 512 766zm-4-430c-97.2 0-176 78.8-176 176s78.8 176 176 176 176-78.8 176-176-78.8-176-176-176zm0 288c-61.9 0-112-50.1-112-112s50.1-112 112-112 112 50.1 112 112-50.1 112-112 112z">
               </path>
            </svg>
        </span>
            <span class="post-views">{{forum.views}}</span>
        </div>

        <div class="card-body">
            <h3 class="card-title">{{forum.title}}</h3>
        </div>
        <div class="card-body" id="study_view_content">
            <h3 class="card-text" style="color: rgb(230, 0, 0);" >{{forum.content}}</h3>
        </div>
        <div class="card-footer text-muted">
            {{forum.modifiedDate}}
        </div>
    </div>
    <br>


    <hr>

    {{#fcomment}}<!--머스타치 반복문 사용시 scomment.id가 아닌 그 안에서 목록으로 보기 때문에 그냥 {id}}로 입력-->
        <div class="card">
            <div class="card-body">
                <!--머스타치 반복문 사용시 scomment.id가 아닌 그 안에서 목록으로 보기 때문에 그냥 {id}}로 입력-->
                <div id="comment_time">
                    <span>{{writer}}</span>
                    <a>{{modifiedDate}}</a>
                </div>
                <hr>
                {{content}}
            </div>
        </div>
        <br>
    {{/fcomment}}


    <div class="card">
        <form action="">
            <div class="mb-3 row" id="content_text" >
                <label for="content" id="content_textName" > 댓글입력</label>
                <div class="col-sm-8" rows="3">
                    <textarea type="text"  rows="3" class="form-control" id="content" placeholder="내용을 입력하세요"> </textarea>
                    <input type="hidden" class="form-control" id="id"  value="{{forumId}}" placeholder="{{forumId}}">
                    <input type="hidden" class="form-control" id="forumId"  value="{{forumId}}" placeholder="{{forumId}}">
                    <input type="hidden" class="form-control" id="userId"  value="{{userId}}" placeholder="{{userId}}">
                    <input type="hidden" class="form-control" id="writer"  value="{{writer}}" placeholder="{{writer}}">
                </div>
                <div style="padding-top: 20px; ">
                    <button type="button" class="btn btn-primary" id="btn-fcomment" rows="1" style="height: 50px;">등록</button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <br>


</div>
{{>layout/footer}}