{{#scomment}}<!--머스타치 반복문 사용시 scomment.id가 아닌 그 안에서 목록으로 보기 때문에 그냥 {id}}로 입력-->
<div><tr>댓글 아이디:{{id}}</tr></div>
<div><tr>내용:{{content}}</tr></div>
<div><tr>스터디 그룹 아이디:{{studyGroup.id}}</tr></div>
<div><tr>유저명:{{userName}}</tr></div>
<div><tr>유저아이디:{{userId}}</tr></div>
{{/scomment}}
<hr>
<table>

    <div>코멘트 입력</div>
    <div class="form-group">
        <label for="title">내용</label>
        <input type="text" class="form-control" id="content" placeholder="내용을 입력하세요">
        스터디 아이디:<input type="text" class="form-control" id="studyGroup"  value="{{sgId}}" placeholder="{{sgId}}">
        <button type="button" class="btn btn-primary" id="btn-comment_save">등록</button>
    </div>
</table>