{{>layout/header}}

<div id="study_body">
    <a href="/studyGroup/save" role="button" class="btn btn-primary">글 등록</a>

{{#studyGroup}}
<div class="card border-primary mb-12" id="card_list" style="max-width: 55rem;"> <!-- 파란색 테두리-->
    <div class="card-header" id="card-header">
        <a href="/studyGroup/update/{{id}}">{{author}}</a>
    </div>
    <div class="card-body">
        <h4 class="card-title"><a href="/studyGroup/view/{{id}}">{{title}}</a></h4>
        <p class="card-text">{{modifiedDate}}</p>
    </div>
</div>
{{/studyGroup}}
<div class="card border-light mb-3" style="max-width: 20rem;"><!-- 아무것도 없는 테두리-->
    <div class="card-header">Header</div>
    <div class="card-body">
        <h4 class="card-title">Light card title</h4>
        <p class="card-text">ㅠㅠㅠSome quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
</div>
{{>layout/footer}}